<div>
<form method="get" action="/quizes">
<label for ="buscar" class="rem">Buscar:</label>
<input type="text" id="buscar" name='search' value ="" placeholder="Para mostrar todas pulsar buscar"/>
<button type="submit">Buscar</button>
</div>
<div>
<table>
 <% var i; for (i=0;i < quizes.length; i++){ %>
	<tr>
		<td><a href="quizes/<%=quizes[i].id %>"><%= quizes[i].pregunta %>&nbsp;</a>Tema: <%= quizes[i].tema%></td>
		<%if(session.user){%>
			<td><a href="quizes/<%=quizes[i].id %>/edit"><button>Editar</button></a></td>
			<td> 
				<form method="post" action="quizes/<%= quizes[i].id %>?_method=delete">
					<button type="submit" onClick="return confirm('Borrar: <%=quizes[i].pregunta%>');">
						borrar
					</button>
				</form>
			</td>
		<%}%>
	</tr>
  <%} %>
</table>
<%if(session.user){%>
	<a href="/quizes/new"><button type="button">Crear Pregunta</button></a>
<%}%>
</div>
